:root {
    --color-admin-bg : #fff; 
    --color-admin-title : #2B3674; 
    --color-admin-prime : #6118ff; 
    --color-admin-error : #fe1c1c; 
    --color-admin-prime--hover : #7434ff; 
    --color-admin-second : #4318FF; 
    --color-admin-text-prime : #2B3674; 
    --color-admin-text-second : #A3AED0; 
 
 }
 
 
 .login_wrap-admin{
     position: absolute;
     display: flex;
     z-index: 1000;
     height: 100vh;
     width: 100%;
     background: var(--color-admin-bg);
 }
 
 .left_block-admin{
     flex: 0 1 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     padding: 0 10%;
     p{
         color: var(--color-admin-text-second);
     }
     
 }
 
 .back_home_login-admin{
     display: flex;
     justify-content: left;
     align-items: center;
     // text-align: left;
     width: 100%;
     max-width: 400px;
     gap: 10px;
     color: var(--color-admin-text-title);
     cursor: pointer;
     &:hover{
         color: var(--color-prime);
     }
 
 }
 
 .svg-login-admin{
     rotate: 180deg;
 }
 
 .title_singin-admin{
     display: flex;
     flex-direction: column;
     gap: 10px;
     h2{
         color: var(--color-admin-title);
     }
     p{
         color: --color-admin-text-second;
     }
 }
 
 .singin_wrap-admin{
     display: flex;
     flex-direction: column;
     gap: 20px;
     width: 100%;
     max-width: 400px;
 }
 
 .switch_var-singin-admin{
     display: flex;
     width: 100%;
     max-width: 400px;
     height: 50px;
     // border-radius: 15px;
 
 }
 
 .switch_item-admin{
     flex: 0 1 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     
 }
 
 .switch_item-left-admin{
     border-radius: 15px 0 0 15px;
 }
 .switch_item-right-admin{
     border-radius:  0 15px 15px 0 ;
 }
 
 .switch-active-admin{
     background: var(--color-prime);
     p{
         color: var(--color-btn);
     }
     &:hover{
         background: var(--color-btn-hover);
     }
 }
 
 .switch-non-active-admin{
     background: transparent;
     border: 1px solid var(--color-bg-second);
     p{
         color: var(--color-text-title);
     }
 }
 
 .input_wraper-admin{
     display: flex;
     flex-direction: column;
     gap: 20px;
 }
 
 .button_singin-admin{
     width: 100%;
 }
 
 .input_wraper-item-admin{
     display: flex;
     flex-direction: column;
     width: 100%;
     gap: 10px;
     color: var(--color-admin-title);
     span{
         color: var(--color-admin-second);
     }
     input{
         height: 50px;
         border-radius: 15px;
         background: transparent;
         padding: 10px;
         border: 1px solid var(--color-bg-second);
         color: var(--color-admin-text-prime);
     }
     
 }
 
 .input-checkbox-admin{
     display: flex;
     flex-direction: row;
     align-items: center;
     p{
         color: var(--color-admin-title);
         text-align: end;
         width: 50%;
     }
     .forgot_pasword-link-admin{
             color: var(--color-admin-second);
         }
 }
 
 .item-checkbox-admin{
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 50%;
     input{
         display: none;
     }
     label{
         min-width: 24px;
         height: 24px;
         border: 1px solid var(--color-bg-second);
         border-radius: 5px;
         cursor: pointer;
     }
     p{
         width: 100%;
     }
 }
 
 
 .checked-admin{
         background: var(--color-admin-prime);
         border: 1px solid var(--color-admin-text-prime);
     }
     
 .forgot_pasword-link-admin{
     cursor: pointer;
     &:hover{
         color: var(--color-admin-text-prime);
     }
 }
 
 .button_singin-admin{
     height: 50px;
     background: var(--color-admin-prime);
     border-radius: 15px;
     &:hover{
         background: var(--color-admin-prime--hover);
     }
 }
 
 .not_regist-admin{
     display: flex;
     justify-content: space-between;
     width: 100%;
     p{
         color: var(--color-admin-text-second);
         
         span{
             color: var(--color-prime);
             margin-left: 10px;
             &:hover{
                 color: var(--color-btn-hover);
             }
         }
     }
 }
 
 .right_block-admin{
     flex: 0 1 50%;
     img{
         border-radius: 0 0 0 200px;
         height: 100%;
         width: 100%;
         object-fit: cover;
     }
 }
 
 // admin panel
 
 .admin_panel_wraper{
     position: fixed;
     overflow-y: auto;
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     z-index: 99999;
     background: var(--color-admin-bg);
 }
 
 .admin_panel{
     display: flex;
     flex-direction: row;
     // height: 100%;
 }
 
 .admin_panel_aside-menu{
     max-width: 300px ;
     flex: 0 1 30%;
 }
 
 
 .logo_admin{
     font-size: 30px;
     font-weight: 700;
     padding: 50px;
     color: var(--color-admin-title);
     span{
         color: var(--color-admin-title);
     }
 }
 
 .admin_panel_nav-bar{
     margin-top: 30px;
 }
 
 .nav_list{
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding-left: 30px;
 
 }
 
 .nav_list-item{
     display: flex;
     width: 100%;
     height: 30px;
     gap: 10px;
     cursor: pointer;
     color: var(--color-admin-text-second);
     svg{
         // color: var(--color-admin-text-second);
         fill: var(--color-admin-text-second);
     }
 
 }
 
 
 .nav_list-item-active{
     position: relative;
     color: var(--color-admin-title);
     svg{
         fill: var(--color-admin-prime);
     }
     &::after{
         content: '';
         position: absolute;
         right: 0;
         width: 5px;
         height: 100%;
         background: var(--color-admin-prime);
         border-radius: 10px;
     }
 }
 
 .admin_panel_content-wraper{
     flex: 0 1 100%;
     background: #f4f7fe;
     width: 100%;
     height: 100%;
     padding: 50px 30px ; 
 }
 
 .admin_content_wrap{
     display: flex;
     flex-direction: column;
     gap: 20px;
     h2{
         margin-bottom: 10px;
     }
 }
 
 .erning_sales_info_wrap{
     display: flex;
     flex-direction: row;
     width: 100%;
     gap: 20px;
 }
 
 .ernings_wraper{
     display: flex;
     flex: 0 1 25%;
     width: 100%;
 }
 
 .admin_panel_items{
     display: flex;
     background: #fff;
     border-radius: 20px;
     padding: 20px 30px;
 }
 
 .ernings_wraper-item{
     display: flex;
     // justify-content: space-around;
     width: 100%;
     align-items: center;
     padding: 29px 17px;
     gap: 17px;
     height: 100px;
     background: #fff;
     border-radius: 20px;
 }
 
 .ernings_wraper-content{
     display: flex;
     flex-direction: column;
     gap: 5px;
 
 }
 
 .content_title{
     color: var(--color-admin-text-second);
     font-size: 14px;
 }
 
 .curent_sum{
     font-size: 24px;
 }
 
 .curent_percent_profit{
     color: #05CD99;
 }
 .curent_percent_loss{
     color: var(--color-admin-error);
 }
 
 .derection_wraper{
     display: flex;
     flex-direction: column;
 
 }
 
 .admin_panel_items-title{
     margin-bottom: 20px;
 }
 
 .derection_table_wrap{
     display: flex;
     flex-direction: column;
     gap: 25px;
 }
 
 .table_header{
     display: flex;
     width: 100%;
     
 }
 
 
 
 .table_body{
     display: flex;
     flex-direction: column;
     width: 100%;
     gap: 15px;
 }
 
 .table_info_item{
     display: flex;
     width: 100%;
     border-radius: 15px;
     height: 25px;
     transition: all 0.2s ease-in-out;
     cursor: pointer;
     &:hover{
         // background: #d8d8fb;
         p{
             color: var(--color-admin-prime--hover);
         }
     }
 
 }
 
 .colum{
     flex: 0 1 25%;
     // width: 25%;
     color: var(--color-admin-text-second);
 }
 
 .row{
     color: var(--color-admin-text-prime);
 }
 
 .partner_info_wrap{
     display: flex;
     gap: 20px;
     width: 100%;
 }
 
 .partner_wrap_content{
     flex: 0 1 50%;
     display: flex;
     flex-direction: column;
 
 }
 
 .table_partner-item{
     flex: 0 1 50%;
     display: flex;
     align-items: center;
     gap: 5px;
 }
 
 .add-use_wrap{
     gap: 20px;
 }
 
 .add_user-item{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 24px;
     width: 100%;
     gap: 10px;
     height: 100%;
     transition: all 0.2s ease-in-out;
 }
 
 .add_user_button{
     cursor: pointer;
     transition: all 0.2s ease-in-out;
     &:hover{
         background: var(--color-admin-text-second);
         .add_user-item{
             color: #fff;
         }
     }
 }
 
 .active_btn_user{
     background: var(--color-admin-prime--hover);
     .add_user-item{
         color: #fff;
     }
 }
 
 .btn-save{
     background: var(--color-admin-prime);
     font-size: 18px;
     padding: 5px 10px;
     width: 100%;
     max-width: 150px;
     height: 50px;
     border-radius: 17px;
 }
 
 .add_user-content{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     gap: 20px;
 }
 
 .add_user-input{
     display: flex;
     flex-direction: column;
     width: 100%;
     max-width: 500px;
     gap: 10px;
     input{
         height: 50px;
         border-radius: 15px;
         padding: 5px 10px;
     }
 }
 
 
 
 .filter_wrap{
     display: flex;
     width: 100%;
     gap: 20px;
     margin-bottom: 20px;
 }
 
 .filter-item{
     cursor: pointer;
     &:hover{
         color: var(--color-admin-prime--hover);
     }
 }
 
 
 .blog_wrap{
     position: relative;
 }
 
 .add_post_wrap{
     position: absolute;
     background: #f4f7fe;
     height: 100vh;
     width: 100%;
     top: 60px;
     z-index: 1000;
 }
 
 
 .add_text_item{
     margin-bottom: 50px;
     span{
         color: var(--color-admin-text-prime);
     }
     h1, h2, h3, h4, h5, h6{
         color: var(--color-admin-text-prime);
     }
 
 }
 
 .add_title_item{
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin-bottom: 50px;
     color: var(--color-admin-text-prime);
     input{
         height: 50px;
         background: transparent;
         border: 1px solid #ccc;
         padding: 10px;
     }
 }
 
 .img_post_item_wrap{
     width: 200px;
     height: 200px;
     object-fit: contain;
 }
 
 .post_item_wrap{
     position: absolute;
     background: #f4f7fe;
     height: 100vh;
     width: 100%;
     top: 60px;
     z-index: 1000;
     left: 0;
 }
 
 .btn_faq_item_wrap{
     display: flex;
     gap: 20px;
     margin-top: 150px;
 
 }
 
 .btn_cancel{
     background: var(--color-admin-error);
 
 }
 
 .item_text{
     position: relative;
 }
 
 .item_content_blog{
     display: flex;
     flex-direction: column;
     gap: 20px;
 }
 
 
 
 .item_content_blog-title{
     margin-bottom: 0;
 }
 
 .text_area{
     position: absolute;
     background: #f4f7fe;
     top: 1px;
     width: 100%;
 }
 
 .blog_tabs_btn{
     display: flex;
     width: 100%;
     gap: 20px;
     margin: 20px 0;
 }
 
 .btn_tabs{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 20px;
     border-radius: 0;
     background: transparent;
     border: 1px solid #ccc;
     color: var(--color-admin-text-second);
     &:hover{
         color: var(--color-admin-text-prime);
     }
 }
 
 .btn_tabs-active{
     border: 1px solid var(--color-admin-prime);
     color: var(--color-admin-prime);
     &:hover{
         border: 1px solid var(--color-admin-prime);
         color: var(--color-admin-prime);
         background: transparent;
     }
 }
 
 // settings
 
 .coin_wrap{
     gap: 20px;
     max-width: 500px;
     width: 50%;
     align-items: flex-start;
     justify-content: space-between;
 }
 .add_coin{
     height: 100%;
     width: 30%;
     display: flex;
     align-items: flex-start;
 }
 
 .coin_list{
     display: flex;
     position: relative;
     flex-direction: column;
     gap: 10px;
     width: 70%;
     h5{
         margin-bottom: 10px;
     }
 }
 
 .coin_list-item-new{
     display: flex;
     padding: 5px 0px;
     justify-content: space-between;
     border-bottom: 1px solid black;
 }
 
 .coin_list-item-current{
     display: flex;
     // gap: 10;
     justify-content: space-between;
     p{
         margin: 5px 10px;
         
     }
     .del_item{
         cursor: pointer;
         transition: all 0.5s ease-in-out;
         &:hover{
             color: red;
         }
     }
 }
 
 .select_header{
     svg{
         transition: all 0.5s ease-in-out;
     }
 }
 
 .open_svg{
         rotate: 180deg;
     }
 
 
 .close{
     display: none;
     height: 1px;
     transition: all 0.5s ease-in-out;
 }
 
 .open{
     display: block;
     height: 100%;
     transition: all 0.5s ease-in-out;
 }
 
 .select_wrap_coin{
     width: 100%;
     background: transparent;
     border: 1px solid #ccc;
     border-radius: 10px;
     padding: 5px;
     margin-top: 25px;
     transition: all 0.5s ease-in-out;
 }
 
 .name_coin{
     display: flex;
     width: 100%;
     height: 100%;
     padding: 5px;
     align-items: center;
     justify-content: space-between;
 }
 
 .select_header{
     display: flex;
     align-items: center;
     width: 100%;
     height: 100%;
     justify-content: space-between;
 }
 
 .option_select{
     // display: flex;
     flex-direction: column;
     gap: 5px;
     padding: 10px 5px;
     border-top: 1px solid #ccc;
     max-height: 400px;
     overflow-y: auto;
 }
 
 
 // setting additional_page
 
 .content_additional_page_edit{
     display: flex;
     flex-direction: column;
 }
 
 .btn_wrap_edit_content{
     display: flex;
     justify-content: flex-end;
     width: 100%;
     margin-top: 50px;
 }
 
 .save_edit_content{
     padding: 10px 5px;
     width: 200px;
     border-radius: 20px;
 }
 
 .input_content_edit{
     display: flex;
     gap: 20px;
     margin-top: 50px;
 }
 
 .input_wrap{
     display: flex;
     flex-direction: column;
     gap: 5px;
     input{
         border: 1px solid #ccc;
         max-width: 500px;
         height: 40px;
         padding: 0 10px;
     }
 }