:root {
  --color-admin-bg: #fff;
  --color-admin-title: #2b3674;
  --color-admin-prime: #6118ff;
  --color-admin-error: #fe1c1c;
  --color-admin-prime--hover: #7434ff;
  --color-admin-second: #4318ff;
  --color-admin-text-prime: #2b3674;
  --color-admin-text-second: #a3aed0;
}

.login_wrap-admin {
  position: absolute;
  display: flex;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  background: var(--color-admin-bg);
}

.left_block-admin {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 10%;
}

.back_home_login-admin {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  max-width: 400px;
  gap: 10px;
  color: var(--color-admin-text-title);
  cursor: pointer;
}
.back_home_login-admin:hover {
  color: var(--color-prime);
}

.svg-login-admin {
  rotate: 180deg;
}

.title_singin-admin {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title_singin-admin h2 {
  color: var(--color-admin-title);
}

.singin_wrap-admin {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.switch_var-singin-admin {
  display: flex;
  width: 100%;
  max-width: 400px;
  height: 50px;
}

.switch_item-admin {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.switch_item-left-admin {
  border-radius: 15px 0 0 15px;
}

.switch_item-right-admin {
  border-radius: 0 15px 15px 0;
}

.input_wraper-admin {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button_approve-admin {
  width: 100%;
}

.input_wraper-item-admin {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  color: var(--color-admin-title);
}
.input_wraper-item-admin span {
  color: var(--color-admin-second);
}
.input_wraper-item-admin input {
  height: 50px;
  border-radius: 15px;
  background: transparent;
  padding: 10px;
  border: 1px solid var(--color-bg-second);
  color: var(--color-admin-text-prime);
}

.checked-admin {
  background: var(--color-admin-prime);
  border: 1px solid var(--color-admin-text-prime);
}

.forgot_pasword-link-admin {
  cursor: pointer;
}
.forgot_pasword-link-admin:hover {
  color: var(--color-admin-text-prime);
}

.button_approve-admin {
  height: 50px;
  background: var(--color-admin-prime);
  border-radius: 15px;
}
.button_approve-admin:hover {
  background: var(--color-admin-prime--hover);
}

.right_block-admin {
  flex: 0 1 50%;
}
.right_block-admin img {
  border-radius: 0 0 0 200px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.admin_panel_wraper {
  position: fixed;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  background: var(--color-admin-bg);
}

.admin_panel {
  display: flex;
  flex-direction: row;
}

.admin_panel_aside-menu {
  max-width: 300px;
  flex: 0 1 30%;
}

.logo_admin {
  font-size: 30px;
  font-weight: 700;
  padding: 50px;
  color: var(--color-admin-title);
}
.logo_admin span {
  color: var(--color-admin-title);
}

.admin_panel_nav-bar {
  margin-top: 30px;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
}

.nav_list-item {
  display: flex;
  width: 100%;
  height: 30px;
  gap: 10px;
  cursor: pointer;
  color: var(--color-admin-text-second);
}
.nav_list-item svg {
  fill: var(--color-admin-text-second);
}

.nav_list-item-active {
  position: relative;
  color: var(--color-admin-title);
}
.nav_list-item-active svg {
  fill: var(--color-admin-prime);
}
.nav_list-item-active::after {
  content: "";
  position: absolute;
  right: 0;
  width: 5px;
  height: 100%;
  background: var(--color-admin-prime);
  border-radius: 10px;
}

.admin_panel_content-wraper {
  flex: 0 1 100%;
  background: #f4f7fe;
  width: 100%;
  height: 100%;
  padding: 50px 30px;
}

.admin_content_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.admin_content_wrap h2 {
  margin-bottom: 10px;
}

.erning_sales_info_wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.ernings_wraper {
  display: flex;
  flex: 0 1 25%;
  width: 100%;
}

.admin_panel_items {
  display: flex;
  height: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 20px 30px;
}

.ernings_wraper-item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 29px 17px;
  gap: 17px;
  height: 100px;
  background: #fff;
  border-radius: 20px;
}

.ernings_wraper-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content_title {
  color: var(--color-admin-text-second);
  font-size: 14px;
}

.curent_sum {
  font-size: 24px;
}

.curent_percent_profit {
  color: #05cd99;
}

.curent_percent_loss {
  color: var(--color-admin-error);
}

.derection_wraper {
  display: flex;
  flex-direction: column;
}

.admin_panel_items-title {
  margin-bottom: 20px;
}

.derection_table_wrap {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.table_header {
  display: flex;
  width: 100%;
  text-align: center;
}

.table_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  text-align: center;
}

.derection_table_info_item {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  border-radius: 15px;
  height: 25px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.table_info_item {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  border-radius: 15px;
  height: 25px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.colum {
  width: 25%;
  color: var(--color-admin-text-second);
}

.colum_name {
  text-align: left;
  justify-self: start;
}

.row {
  color: var(--color-admin-text-prime);
}

.partner_info_wrap {
  display: flex;
  gap: 20px;
  width: 100%;
}

.partner_wrap_content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
}

.table_partner-item {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-use_wrap {
  gap: 20px;
}

.add_user-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100%;
  gap: 10px;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.add_user_button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.add_user_button:hover {
  background: var(--color-admin-text-second);
}
.add_user_button:hover .add_user-item {
  color: #fff;
}

.active_btn_user {
  background: var(--color-admin-prime--hover);
}
.active_btn_user .add_user-item {
  color: #fff;
}

.btn-save {
  background: var(--color-admin-prime);
  font-size: 18px;
  padding: 5px 10px;
  width: 100%;
  max-width: 150px;
  height: 50px;
  border-radius: 17px;
}

.add_user-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.add_user-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 10px;
}
.add_user-input input {
  height: 50px;
  border-radius: 15px;
  padding: 5px 10px;
}

.filter_wrap {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.filter-item {
  cursor: pointer;
}
.filter-item:hover {
  color: var(--color-admin-prime--hover);
}

.blog_wrap {
  position: relative;
}

.add_post_wrap {
  position: absolute;
  background: #f4f7fe;
  height: 100vh;
  width: 100%;
  top: 60px;
  z-index: 1000;
}

.add_text_item {
  margin-bottom: 50px;
}
.add_text_item span {
  color: var(--color-admin-text-prime);
}
.add_text_item h1,
.add_text_item h2,
.add_text_item h3,
.add_text_item h4,
.add_text_item h5,
.add_text_item h6 {
  color: var(--color-admin-text-prime);
}

.add_title_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  color: var(--color-admin-text-prime);
}
.add_title_item input {
  height: 50px;
  background: transparent;
  border: 1px solid #ccc;
  padding: 10px;
}

.img_post_item_wrap {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.post_item_wrap {
  position: absolute;
  background: #f4f7fe;
  height: 100vh;
  width: 100%;
  top: 60px;
  z-index: 1000;
  left: 0;
}

.btn_faq_item_wrap {
  display: flex;
  gap: 20px;
  margin-top: 150px;
}

.btn_cancel {
  background: var(--color-admin-error);
}

.item_text {
  position: relative;
}

.item_content_blog {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item_content_blog-title {
  margin-bottom: 0;
}

.text_area {
  position: absolute;
  background: #f4f7fe;
  top: 1px;
  width: 100%;
}

.blog_tabs_btn {
  display: flex;
  width: 100%;
  gap: 20px;
  margin: 20px 0;
}

.btn_tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border-radius: 0;
  background: transparent;
  border: 1px solid #ccc;
  color: var(--color-admin-text-second);
}
.btn_tabs:hover {
  color: var(--color-admin-text-prime);
}

.btn_tabs-active {
  border: 1px solid var(--color-admin-prime);
  color: var(--color-admin-prime);
}
.btn_tabs-active:hover {
  border: 1px solid var(--color-admin-prime);
  color: var(--color-admin-prime);
  background: transparent;
}

.coin_wrap {
  gap: 20px;
  max-width: 500px;
  width: 50%;
  align-items: flex-start;
  justify-content: space-between;
}

.add_coin {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: flex-start;
}

.coin_list {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}
.coin_list h5 {
  margin-bottom: 10px;
}

.coin_list-item-new {
  display: flex;
  padding: 5px 0px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.select_header svg {
  transition: all 0.5s ease-in-out;
}

.open_svg {
  rotate: 180deg;
}

.close {
  display: none;
  height: 1px;
  transition: all 0.5s ease-in-out;
}

.open {
  display: block;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.select_wrap_coin {
  width: 100%;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  margin-top: 25px;
  transition: all 0.5s ease-in-out;
}

.name_coin {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.select_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.option_select {
  flex-direction: column;
  gap: 5px;
  padding: 10px 5px;
  border-top: 1px solid #ccc;
  max-height: 400px;
  overflow-y: auto;
}

.content_additional_page_edit {
  display: flex;
  flex-direction: column;
}

.btn_wrap_edit_content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 50px;
}

.save_edit_content {
  padding: 10px 5px;
  width: 200px;
  border-radius: 20px;
}

.input_content_edit {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.input_wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input_wrap input {
  border: 1px solid #ccc;
  max-width: 500px;
  height: 40px;
  padding: 0 10px;
}/*# sourceMappingURL=admin.css.map */