.list_of_partner_title {
    margin: 10px 0px;
    font-weight: 600;
    font-size: 26px;
}

.list_of_partner_table_title {
    display: flex;   
    justify-content: center;
    align-items: center;
}

.list_of_partner_table_title_item {
    width: 25%;
    margin: 10px 0px;
    font-weight: 600;
    font-style: 20px;
}
.list_of_partner_table_data_item {
    width: 25%;
    margin: 10px 0px;
}