@import "./template.scss";

.reward_one_text {
  color: $mid_blue_color;
  font-size: 14px;
  font-weight: 500;
  line-height: 171.429%;
}

.reward_one_title {
  margin-bottom: 22px;
  color: $deep_blue_color;
  font-size: 34px;
  font-weight: 700;
  line-height: 123.529%;
  letter-spacing: -0.68px;
}

.reward_balance_wrapp {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 22px;
}

.reward_table_btn_wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reward_btn_edit {
  background: transparent;
  color: $light_blue_color;
}

.reward_input_edit_wrapp {
  display: flex;
}

.reward_input_edit {
  width: 74px;
  text-align: center;
  border-radius: 20px 0px 0px 20px;
  background: $soft_gray_color;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25) inset;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 171.429%;
  letter-spacing: -0.28px;
  border: none;
  &::placeholder {
    color: $medium_gray_color;
  }
}

.reward_btn_edit_submit {
  display: flex;
  padding: 4px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  background: linear-gradient(135deg, #868cff 0%, #4318ff 100%);
  color: $white_second_color;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 171.429%;
  letter-spacing: -0.28px;
}

.reward_btn_edit_icon {
  width: 24px;
  height: 24px;
}
