@import "./template.scss";

.statistic_chart {
  padding: 30px;
  max-width: 1154px;
  border-radius: 20px;
  background: $white_second_color;
}

.statistic_chart_wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 37px;
}

.statistic_chart_actions_wrapp {
  display: flex;
  gap: 15px;
}
.statistic_chart_date_wrapp {
  display: flex;
  gap: 11px;
}

.statistic_chart_actions_btn {
  padding: 8px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgba(119, 119, 119, 0.5);
  color: $white_second_color;
  font-size: 14px;
  font-weight: 700;
  line-height: 171.429%;
  letter-spacing: -0.28px;
}

.statistic_chart_actions_btn_active {
  background: $white_second_color;
  color: $deep_blue_color;
  border: 1px solid $deep_blue_color;
}

.statistic_chart_date_btn {
  width: 69px;
  padding: 8px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgba(119, 119, 119, 0.5);
  color: $white_second_color;
  font-size: 14px;
  font-weight: 700;
  line-height: 171.429%;
  letter-spacing: -0.28px;
  .statistic_chart_date_btn_icon {
    width: 24px;
    height: 24px;
  }
}

.statistic_chart_date_btn_active {
  background: $white_second_color;
  color: $deep_blue_color;
  border: 1px solid $deep_blue_color;
}

.statistic_chart_visitors {
  margin-bottom: 59px;
  color: $deep_blue_color;
  font-size: 34px;
  font-weight: 700;
  line-height: 123.529%;
  letter-spacing: -0.68px;
  span {
    color: $light_blue_color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 171.429%;
    letter-spacing: -0.28px;
  }
}
.statistic_chart_main_block_wrapp {
  display: flex;
  gap: 12px;
  align-items: center;
}
.statistic_chart_main_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.statistic_chart_main_block_text_wrapp {
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-20px);
}
.statistic_chart_main_block_text {
  color: $lightBlueGrayColor;
  font-size: 12px;
  font-weight: 700;
  line-height: 166.667%;
  letter-spacing: -0.24px;
}

.statistic_chart_item_block {
  height: 153px;
  width: 14%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px dotted $lightBlueGrayColor;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 40px;
    border-bottom: 1px dotted $lightBlueGrayColor;
  }
}

.statistic_chart_item {
  width: 30%;
  background: linear-gradient(to top, $white_color 0%, $main_color 100%);
  border-radius: 50px 50px 0 0;
}

.statistic_chart_main_block {
  display: flex;
  justify-content: space-between;
}

.statistic_chart_item_value {
  margin-top: 21px;
  color: $lightBlueGrayColor;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 166.667%;
  letter-spacing: -0.24px;
}
