$main_color: #4318ff;
$white_color: #f4f7fe;
$white_second_color: #fff;
$black_color: #000;
$light_green: #05cd99;
$light_grey: #ccc;
$red_color: rgb(255, 0, 0);
$deep_blue_color: #2b3674;
$light_blue_color: #a3aed0;
$light_blue_gray_color: #b0bbd5;
$mid_blue_color: #707eae;
$purple_color: #4920ff;
$soft_gray_color: #e6e6e6;
$medium_gray_color: #b5b5b5;
$secondary-grey: #e9edf7;
$primary_blue_color: #4318ff;
