$main_color: #4318ff;
$white_color: #f4f7fe;
$white_second_color: #fff;
$black_color: #000;
$light_green: #05cd99;
$light_grey: #ccc;
$red_color: rgb(255, 0, 0);
$deep_blue_color: #2b3674;
$light_blue_color: #a3aed0;
$lightBlueGrayColor: #b0bbd5;
$midBlueColor: #707eae;
