@import "./template.scss";

.weekly_chart_wrap {
  width: 100%;
  background: $white_second_color;
  border-radius: 20px;
  padding: 20px 30px;
  height: 100%;
}

.weekly_chart_header {
  margin: 10px 0px;
}

.weekly_chart_header_title {
  font-size: 20px;
  font-weight: 600;
}

.weekly_chart_main_number_block {
  margin: 10px 0px;
}

.weekly_chart_main_number_item {
  font-size: 20px;
  font-weight: 600;
}

.weekly_chart_main_block {
  display: flex;
  justify-content: space-between;
}

.weekly_chart_date_main_block {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.weekly_chart_item_block {
  height: 120px;
  width: 14%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.weekly_chart_date_item {
  width: 14%;
  text-align: center;
}

.weekly_chart_item {
  width: 30%;
  background: linear-gradient(to top, $white_color 0%, $main_color 100%);
  border-radius: 10px;
}

.weekly_chart_main_block {
  display: flex;
  justify-content: space-between;
}
